<%- include head.ejs %>

<section class="app">
    <div class="gridster">
        <ul>
            <li data-row="1" data-col="1" data-sizex="3" data-sizey="5" class="module-twitter">
                <div class="drag"></div>
                <div class="header">
                    <span>#Hashtag</span><a href="#" id="add">+</a>
                </div>

                <div class="add">
                    <form action="">
                        <input type="text" name="hashtag" placeholder="#hashtag"/>
                        <input type="submit" name="submit" value="Toevoegen" />
                    </form>
                </div>

                <div class="tweet">
                    <div class="avatar"><img src="https://pbs.twimg.com/profile_images/476367219878678529/ySUTiAEr_bigger.png" alt=""/></div>
                    <div class="content">
                        <div class="username">Shaun Janssens <a href="#" title="">@shaunjanssens</a></div>
                        <div class="text">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Amet architecto beatae blanditiis dolorem esse.</div>
                        <div class="time">15 minuten geleden</div>
                    </div>
                </div>
            </li>
            <li data-row="1" data-col="1" data-sizex="3" data-sizey="5" class="module-agenda">
                <div class="drag"></div>
            </li>
        </ul>
    </div>
</section>

<%- include scripts.ejs %>

<script>
    'use strict';
    (function() {
        $(".gridster ul").gridster({
            widget_margins: [10, 10],
            widget_base_dimensions: [140, 140],
            draggable: {
                handle: '.drag'
            }
        }).width("auto");

        $("#add").click(function() {
           $(".add").toggle();
        });
    }($));
</script>

<%- include foot.ejs %>
