<%- include head.ejs %>

<section class="app">
    <div class="gridster">
        <ul>
            <li data-row="1" data-col="1" data-sizex="1" data-sizey="1">
                <section>
                    <header>|||</header>
                </section>
            </li>
            <li data-row="2" data-col="1" data-sizex="1" data-sizey="1">
                <section>
                    <header>|||</header>
                </section>
            </li>
            <li data-row="3" data-col="1" data-sizex="1" data-sizey="1">
                <section>
                    <header>|||</header>
                </section>
            </li>

            <li data-row="1" data-col="2" data-sizex="2" data-sizey="1">
                <section>
                    <header>|||</header>
                </section>
            </li>
            <li data-row="2" data-col="2" data-sizex="2" data-sizey="2">
                <section>
                    <header>|||</header>
                </section>
            </li>

            <li data-row="1" data-col="4" data-sizex="1" data-sizey="1">
                <section>
                    <header>|||</header>
                </section>
            </li>
            <li data-row="2" data-col="4" data-sizex="2" data-sizey="1">
                <section>
                    <header>|||</header>
                </section>
            </li>
            <li data-row="3" data-col="4" data-sizex="1" data-sizey="1">
                <section>
                    <header>|||</header>
                </section>
            </li>

            <li data-row="1" data-col="5" data-sizex="1" data-sizey="1">
                <section>
                    <header>|||</header>
                </section>
            </li>
            <li data-row="3" data-col="5" data-sizex="1" data-sizey="1">
                <section>
                    <header>|||</header>
                </section>
            </li>

            <li data-row="1" data-col="6" data-sizex="1" data-sizey="1">
                <section>
                    <header>|||</header>
                </section>
            </li>
            <li data-row="2" data-col="6" data-sizex="1" data-sizey="2">
                <section>
                    <header>|||</header>
                </section>
            </li>
        </ul>
    </div>
</section>

<%- include scripts.ejs %>

<script>
    'use strict';
    (function() {
        $(".gridster ul").gridster({
            widget_margins: [10, 10],
            widget_base_dimensions: [140, 140],
            draggable: {
                handle: 'header'
            }
        }).width("auto");
    }($));
</script>

<%- include foot.ejs %>
