/*****************************
* Custom styles
******************************/

/* todo experiment for full size grid needs some work */
html, body, .app {
    width: 100%;
    height: 100%;
    overflow: hidden;
}

/*****************************
* Gridster custom styles
******************************/

.gridster ul {
    background-color: #EFEFEF;
    width: auto !important;
    height: 100% !important;
}

.gridster li {
    list-style: none;
    font-size: 1em;
    font-weight: bold;
    text-align: center;
    line-height: 100%;
}


.gridster {
    overflow: hidden;
    margin: 0 auto;
    width: 100%;
    height: 100%;

    opacity: .8;

    -webkit-transition: opacity .6s;
    -moz-transition: opacity .6s;
    -o-transition: opacity .6s;
    -ms-transition: opacity .6s;
    transition: opacity .6s;
}

.gridster .gs-w {
    background: #DDD;
    cursor: pointer;
}

.gridster .player {
    background: #BBB;
}


.gridster .preview-holder {
    border: none!important;
    background: red!important;
}